.card {
    border-radius: 1px;
    width: 85%;
    height: 200px;
    margin: 0.8rem;
    position: relative;
    box-shadow: 4px 4px 10px rgb(56,56,56);
    transition: all .2 ease-in-out;
}

.card:hover {
    box-shadow: 8px 8px 20px rgb(56,56,56)
}

.card:active {
    transform: translate(1px, 1px);
}

.card > .tile-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

