nav.navbar.navbar-default {
  margin-bottom: 0;
}

.navbar {
  max-height: 60px;
}

.brand {
  margin-top: 10px;
}

.title {
  font-size: 42px;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

/*Neon glowing effect for title*/
.title a {
  font-family: 'Concert One', cursive;
  text-decoration:none;
  color: #fff;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

.title a:hover {
  text-decoration:none;
  color: #E56B1F;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #E56B1F, 0 0 70px #E56B1F, 0 0 80px #E56B1F, 0 0 100px #E56B1F, 0 0 150px #E56B1F;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #E56B1F, 0 0 35px #E56B1F, 0 0 40px #E56B1F, 0 0 50px #E56B1F, 0 0 75px #E56B1F;
  }
}

@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #E56B1F, 0 0 70px #E56B1F, 0 0 80px #E56B1F, 0 0 100px #E56B1F, 0 0 150px #E56B1F;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #E56B1F, 0 0 35px #E56B1F, 0 0 40px #E56B1F, 0 0 50px #E56B1F, 0 0 75px #E56B1F;
  }
}

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #E56B1F, 0 0 70px #E56B1F, 0 0 80px #E56B1F, 0 0 100px #E56B1F, 0 0 150px #E56B1F;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #E56B1F, 0 0 35px #E56B1F, 0 0 40px #E56B1F, 0 0 50px #E56B1F, 0 0 75px #E56B1F;
  }
}

@media only screen and (max-width: 768px) {

  .brand {
    margin-top: -4px;
  }

  .title {
    font-size: 32px;
  }

}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .brand {
    margin-top: -2px;
  }

  .title {
    font-size: 28px;
  }
}
